// $header-bg: #f8f9fa;
// $footer-bg: #343a40;
// $link-color: #0393f2;
// $footer-text: #c4cad0;
// $padding: 1em;
// $margin: 1em;

footer {
  background-color: $footer-bg;
  padding: $padding;
  display: flex;
  flex-direction: column;
  color: $footer-text;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 15em;

  a {
    color: #0393f2;
  }

  .nav {
    &__a {
      color: $link-color;
      text-decoration: underline;

      &--active {
        color: $footer-text;
        text-decoration: none;
      }
    }
  }

  .hipsterhashtag {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
