// $header-bg: #f8f9fa;
// $footer-bg: #343a40;
// $link-color: #0393f2;
// $footer-text: #c4cad0;

header {
  background-color: $header-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;

  img {
    width: 30%;
  }

  @media (min-width: $mobile-breakpoint) {
    flex-direction: row;
    justify-content: space-evenly;

    img {
      width: auto;
    }
  }
}
