.ourstory {
  margin-bottom: $margin;
  text-align: justify;

  img {
    border-radius: 100px;
    width: 100%;
    margin-bottom: $margin;
  }

  h2 {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about {
      display: flex;
      align-items: center;
    }

    img {
      width: 300px;
      margin-right: $margin * 2;
    }

    .twofounders {
      display: flex;

      img {
        border-radius: 50%;
      }
    }

    form {
      width: 80%;
    }
  }
}
