.coffee-pic img {
  width: 100%;
}

.coffee-info {
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
  p {
    margin: 0;
  }
}

.smalldisplay {
  display: block;

  @media (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.bigdisplay {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
  }
}
