.ourstory {
  margin-bottom: $margin;
  text-align: justify;

  img {
    border-radius: 100px;
    width: 100%;
  }

  @media (min-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;

    .about {
      display: flex;
      justify-content: space-between;
    }

    img {
      width: 300px;
      margin-right: $margin * 2;
    }
  }
}
